/* General Body Styles */
html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Body */
body {
    font-family: 'Playfair Display', serif;
    background-color: #F5F5DC;
    color: #0A0A0A;
    flex: 1;
}

main {
    flex: 1;
}

/* Navbar Styles */
.navbar {
    height: auto;
    padding: 1rem 2rem;
    background-color: #0A0A0A;
    color: #F5F5DC; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar Brand (The Vogue Edit index page) */
.navbar .navbar-brand {
    color: #F5F5DC;
}

.navbar .navbar-brand:hover {
    color: #D2042D;
}

.navbar .nav-link {
    color: #F5F5DC;
    margin: 0 15px;
}

.navbar .nav-link:hover {
    color: #D2042D;
}

/* Index Page Background */
.index-background {
    background-image: url("/static/images/kate.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Intro Box */
.intro-box {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 15px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #0A0A0A; 
    color: #F5F5DC;
    padding: 1.5rem 0;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

/* Custom Button Style */
.btn-vogue {
    display: inline-block;
    background-color: #5b0919; 
    color: #F5F5DC;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 1rem; 
    transition: background-color 0.3s ease;
}

.btn-vogue:hover {
    background-color: #A3001E;
}

/* Product Card Styles */
.product-card {
    border: 1px solid #3D3D3D;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 
    max-width: 800px; 
    margin: 20px auto; 
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-name {
    margin-top: 15px;
}

/* Basket container*/
.basket-container {
    border: 1px solid #3D3D3D;
    border-radius: 10px; 
    padding: 20px; 
    background-color: #FFFFFF; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.basket-item {
    border-bottom: 1px solid #D3D3D3; 
    padding: 10px 0; 
}

.basket-item:last-child {
    border-bottom: none; 
}

/* centering form container*/
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

/* Form field */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    color: #0A0A0A; 
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin-top: 5px;
}