{% extends 'base.html' %} <!--Used W3Schools for resources on 'column cards' to display my products(https://www.w3schools.com/howto/howto_css_column_cards.asp)-->

{% block title %}All Products{% endblock %}

{% block content %}
<div class="text-center my-4">
    <h1>Explore our range of products</h1>
</div>
<div class="container">
    <div class="row">
        {% for p in products %} <!--iterating through each product in products-->
            <div class="col-md-4 mb-4 text-center"> <!--creates column for each product-->
                <div class="product-card"> <!--container for each product card-->
                    <img src="{{ p.product_image.url }}" class="img-fluid" alt="{{ p.name }}">
                    <div class="product-info">
                        <h5 class="product-name">{{ p.name }}</h5>
                        <p>€{{ p.price }} - {{ p.description }}</p>
                        <a href="/products/{{ p.id }}" class="btn btn-vogue mb-2">View</a> <!--link to view the individual product and details-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

