{% extends 'base.html' %}

{% block title %}
    User Signup
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password1.label }}
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2 }}
            </div>
            <button type="submit" class="btn-vogue">Submit</button>
        </form>
    </div>
{% endblock %}

